.lead__caption {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
}
@media screen and (min-width:320px) {
    .lead__caption {
            margin-top: 4px;
            margin-left: 16px;
            margin-bottom: 0;
        }
}
@media screen and (min-width:768px) {
    .lead__caption {
            margin: 4px 24px;
            margin-bottom: 0px;
        }
}
@media screen and (min-width:1024px) {
    .lead__caption {
            margin: 4px calc((100% - 928px)/ 2);
            margin-bottom: 0px;
        }
}
@media screen and (min-width:1280px) {
    .lead__caption {
            margin: 4px calc((100% - 984px)/ 2);
            margin-bottom: 0px;
        }
}